
p, .animated-text {

    font-size: 30px;
    color: white;
}

.left-img {
    width: 400px;
}

.right-img {
    width: 400px;
}

.about {
    margin-left: 5%;
    margin-right: 5%;
}

a.text-link { text-decoration: none; color:white !important; }
a.text-link:visited { text-decoration: none; color:lightgrey !important; }
a.text-link:hover { text-decoration: none; color:white !important; }
a.text-link:focus { text-decoration: none; color:white !important; }
a.text-link:hover, a:active { text-decoration: none; color:lightgrey !important }