#x {
  display: none;

  color: white;
  z-index: 3;
  float: left;
  text-decoration: none;
  font-size: 18px;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: monospace;
  font-size: 15px;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
}

#hint {
  color: red;
  visibility: hidden;
}

#attempt {
  -webkit-text-security: disc;
}

/* Standard syntax */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}